body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.leftNavigation {
  width: 220px;
  border-right: 1px solid #e0e0e0;
}

.header {
  border-bottom: 1px solid #e0e0e0;
}

.container {
  width: 100%;
}

.navigationContainer {
  list-style: none;
}

.navigationItem {
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
}

.navigationItem:hover {
  background-color: #e0e0e0;
}

.button {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button-primary {
  background-color: #2cb696;
  color: #fff;
  border: 0;
}

.button-secondary {
  background-color: rgba(206, 236, 223, 0.98);
  color: #353a38;
  border: 1px solid #2cb696;
}

.buttonExample {
  margin-right: 20px;
}
